/* General board styling */
.board {
    display: grid;
    grid-template-columns: repeat(8, 80px);
    grid-template-rows: repeat(8, 80px);
    width: 640px;
    height: 640px;
    margin: 20px auto;
    border: 4px solid #333;
}
body{
    overflow-y: hidden;
}
/* Each square on the board */
.square {
    width: 80px;
    height: 80px;
}

/* Colors for alternating squares */
.black {
    background-color: #636363;
}

.white {
    background-color: #fff;
}

/* Styling pieces */
.piece {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 10px;
    cursor: pointer;
}

/* Red and black pieces */
.red-piece {
    background-color: red;
}

.black-piece {
    background-color: black;
}

/* Highlight selected piece */
.selected {
    border: 2px solid yellow;
}

/* Highlight potential moves */
.highlight {
    background-color: yellow !important;
}
.highlight-red{
    background-color: rgb(255, 150, 150) !important;
}
.king-piece{
    border: 2px dotted yellow;
}

